<div class="dashboard-wrapper" [class.sidebar-closed]="!isSidebarOpen">
  <app-sidebar [class.closed]="!isSidebarOpen"></app-sidebar>
  <div class="conatiner" style="width: 100%">
    <app-navbar class="nav"></app-navbar>
    <div
      class="layout"
      [ngClass]="{
        'sidebar-open': isSidebarOpen && !isSmallScreen,
        'sidebar-closed': !isSidebarOpen || isSmallScreen
      }"
    >
      <button
        class="toggle-button"
        (click)="globalService.toggleSidebar1()"
        aria-label="Toggle Sidebar"
      >
        <img
          class="toggleIcon"
          [src]="isSidebarOpen ? 'toggleRight.svg' : 'toggleLeft.svg'"
          alt="Sidebar Toggle"
        />
      </button>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
