.dashboard-wrapper {
  display: flex;
  overflow: hidden;
}

app-sidebar {
  transition: transform 0.3s ease-in-out;
  z-index: 9999999999;
}

app-sidebar.closed {
  transform: translateX(-250px);
}

.open {
  transform: translateX(20px);
}

.dashboard-container {
  margin-left: 250px;
}

.toggleIcon {
  width: 100%;
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
  padding: 0 10px;
  width: 50px;
}

@media only screen and (max-width: 768px) {
  app-sidebar.closed {
    transform: translateX(-200px);
  }

  .dashboard-container {
    margin-left: 0px;
  }
}

.layout {
  flex: 1;
  max-width: 100%;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}

.dashboard-wrapper.sidebar-closed .dashboard-container {
  margin-left: 0;
}

.sidebar-open {
  margin-left: 250px;
}

.sidebar-closed {
  margin-left: 0;
}

@media (max-width: 768px) {
  .sidebar-open {
    margin-left: 0;
  }

  .sidebar-closed {
    margin-left: 0;
  }
}

.toggle-button {
  padding: 16px 26px 0 26px;
}
