.dashboard-wrapper {
  display: flex;
  overflow: hidden;
}

app-sidebar {
  transition: transform 0.3s ease-in-out;
  z-index: 9999999999;
}

app-sidebar.closed {
  transform: translateX(-250px);
}

.open {
  transform: translateX(20px);
}

.dashboard-container {
  margin-left: 250px;
}

@media only screen and (max-width: 768px) {
  app-sidebar.closed {
    transform: translateX(-200px);
  }

  .dashboard-container {
    margin-left: 0px;
  }
}

.dashboard-container {
  flex: 1;
  max-width: 100%;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}

.dashboard-wrapper.sidebar-closed .dashboard-container {
  margin-left: 0;
}

.top-section {
  margin-bottom: 20px;
  padding: 0 10px;
}

.bottom-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0 5px;
}

.bottom-left,
.bottom-right {
  width: 49%;
  box-sizing: border-box;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .bottom-left,
  .bottom-right {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .dashboard-container {
    padding: 10px;
  }

  .top-section {
    margin-bottom: 10px;
  }

  .bottom-sections {
    display: block;
  }
}
