<div>
  <div class="row">
    <!-- Chart 1 -->
    <div class="col-md-4 p-4">
      <div
        id="chart-spark1"
        class="rounded-xl shadow-lg bg-white p-6 hover:shadow-2xl transition-shadow"
      >
        <apx-chart
          #chartspark1
          [series]="chartAreaSparkline1Options.series"
          [chart]="commonAreaSparlineOptions.chart"
          [stroke]="commonAreaSparlineOptions.stroke"
          [yaxis]="commonAreaSparlineOptions.yaxis"
          [fill]="commonAreaSparlineOptions.fill"
          [colors]="chartAreaSparkline1Options.colors"
          [title]="chartAreaSparkline1Options.title"
          [subtitle]="chartAreaSparkline1Options.subtitle"
        ></apx-chart>
      </div>
    </div>

    <!-- Chart 2 -->
    <div class="col-md-4 p-4">
      <div
        id="chart-spark2"
        class="rounded-xl shadow-lg bg-white p-6 hover:shadow-2xl transition-shadow"
      >
        <apx-chart
          #chartspark2
          [series]="chartAreaSparkline2Options.series"
          [chart]="commonAreaSparlineOptions.chart"
          [stroke]="commonAreaSparlineOptions.stroke"
          [yaxis]="commonAreaSparlineOptions.yaxis"
          [fill]="commonAreaSparlineOptions.fill"
          [colors]="chartAreaSparkline2Options.colors"
          [title]="chartAreaSparkline2Options.title"
          [subtitle]="chartAreaSparkline2Options.subtitle"
        ></apx-chart>
      </div>
    </div>

    <!-- Chart 3 -->
    <div class="col-md-4 p-4">
      <div
        id="chart-spark3"
        class="rounded-xl shadow-lg bg-white p-6 hover:shadow-2xl transition-shadow"
      >
        <apx-chart
          #chartspark3
          [series]="chartAreaSparkline3Options.series"
          [chart]="commonAreaSparlineOptions.chart"
          [stroke]="commonAreaSparlineOptions.stroke"
          [yaxis]="commonAreaSparlineOptions.yaxis"
          [fill]="commonAreaSparlineOptions.fill"
          [title]="chartAreaSparkline3Options.title"
          [subtitle]="chartAreaSparkline3Options.subtitle"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
